body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container {
    width: 350px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: dodgerblue;
    color: #fff;
    cursor: pointer;
    border: none;
}
